.preview {
  position: relative;
  display: compact;
  width: 100%;
  height: 100%;
  max-width: 180px;
}
.preview img{
  max-width: 180px;
}
.preview button {
  position: absolute;
  bottom: 2px;
  right: 2px;
  z-index: 100;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/* Column Gap */
.cardList > * {
  box-sizing: border-box;
}
.cardList > *:not(:last-child) {
  margin-right: 32px;
}
/* Item sizing */
.cardListItem {
  flex: 0 1 calc(33.3% - 32px);
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

mat-form-field {
  width: 70%;
}

.group-width {
  width: 70%;
}

#date-p {
  margin-bottom: 0;
  vertical-align: middle;
  display: inline-block;
}

.primaryImage {
  border: 1px solid red;
}
